openapi: 3.0.0
servers:
  - url: "https://api.x.flatfile.com/v1"
  - url: "http://localhost:3000/v1"
info:
  description: "Build your next data integration on Flatfile's data exchange platform. This API provides access to Flatfile workbooks, and all the tools required to build a workflow out of them."
  version: 1.0.0
  title: Flatfile Platform API
tags:
  - name: Auth
    description: Manage authentication in Flatfile.
  - name: Billing
    description: Manage billing and subscriptions for Flatfile services.
  - name: Users & Guests
    description: Manage users within an account and guests within an environment.
  - name: Environments
    description: "Manage environments, the starting place for every Flatfile integration."
  - name: Events
    description: Manage events within your environment.
  - name: Agents
    description: Manage agents to respond to events.
  - name: Spaces
    description: "Manage spaces, and documents within those spaces."
  - name: Workbooks
    description: Manage workbooks within a space.
  - name: Sheets
    description: Manage sheets within a workbook.
  - name: Snapshots
    description: Manage snapshots of sheets.
  - name: Records
    description: Manage records within a sheet.
  - name: Cells
    description: Manage cell values within a sheet.
  - name: Commits
    description: Manage commits and commit layers.
  - name: Files
    description: Manage files within a space.
  - name: Jobs
    description: "Manage jobs for a space, workbook, or file."
  - name: Secrets
    description: "Manage secret values for agents to access services"
  - name: Webhook
    description: Manage webhooks.
  - name: Mapping
    description: Map Blueprints.
  - name: Data Retention Policies
    description: Manage the data retention policy on an environment
paths:
  /assistant/generate-mutation:
    post:
      x-internal: true
      tags:
        - Jobs
      operationId: aiAssistGenerateMutation
      summary: AI generated mutateRecord
      description: Get the AI assistant to write a mutateRecord function
      requestBody:
        $ref: "#/components/requestBodies/GenerateMutation"
      responses:
        "200":
          $ref: "#/components/responses/GeneratedMutationResponse"
        "400":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /assistant/generate-query:
    post:
      x-internal: true
      operationId: aiAssistGenerateQuery
      summary: AI generated query
      description: Get the AI assistant to write a query function
      requestBody:
        $ref: "#/components/requestBodies/GenerateQuery"
      responses:
        "200":
          $ref: "#/components/responses/GeneratedQueryResponse"
        "400":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /accounts/current:
    get:
      tags:
        - Auth
      security:
        - BearerAuth: []
      operationId: getCurrentAccount
      summary: Get the current account
      description: Get the account information for the currently authenticated user.
      responses:
        "200":
          $ref: "#/components/responses/Account"
  /auth:
    post:
      tags:
        - Auth
      operationId: createAccessToken
      summary: Create an access token
      description: Exchange credentials for an access token. Credentials can be a Client ID and Secret or an Email and Password
      requestBody:
        $ref: "#/components/requestBodies/Credentials"
      responses:
        "200":
          $ref: "#/components/responses/AccessToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /auth/access-token:
    post:
      deprecated: true
      x-internal: true
      tags:
        - Auth
      operationId: getAccessToken
      summary: Authenticate with secret and clientId
      description: Authenticate with secret and clientId
      requestBody:
        $ref: "#/components/requestBodies/AccessTokenCredentials"
      responses:
        "200":
          $ref: "#/components/responses/AccessToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /auth/api-keys:
    get:
      tags:
        - Auth
      operationId: getApiKeys
      summary: Obtain the API keys for a specific environment
      parameters:
        - name: environmentId
          in: query
          description: ID of environment to search
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ApiKeys"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /auth/api-key:
    post:
      tags:
        - Auth
      operationId: createNewApiKey
      summary: Create a new API key of the specified type for the given environment
      parameters:
        - name: environmentId
          in: query
          description: ID of environment to search
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: API key type (SECRET or PUBLISHABLE)
          required: true
          schema:
            type: string
            enum:
              - PUBLISHABLE
              - SECRET
      responses:
        "200":
          $ref: "#/components/responses/ApiKeys"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Auth
      operationId: deleteApiKey
      summary: Delete the specified API key
      parameters:
        - name: environmentId
          in: query
          description: ID of environment to search
          required: true
          schema:
            type: string
        - name: key
          in: query
          description: The API key to delete
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /billing/products:
    get:
      x-internal: true
      tags:
        - Billing
      operationId: getProducts
      summary: List the available products
      parameters:
        - name: filterMetadata
          in: query
          description: Filter products based on metadata
          schema:
            type: object
      responses:
        "200":
          $ref: "#/components/responses/Products"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /billing/checkoutsession/create:
    post:
      x-internal: true
      tags:
        - Billing
      operationId: createCheckoutSession
      summary: Creates a checkout session
      requestBody:
        $ref: "#/components/requestBodies/CheckoutSession"
      responses:
        "201":
          $ref: "#/components/responses/CreateCheckoutSession"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /billing/plan:
    get:
      x-internal: true
      security:
        - BearerAuth: []
      tags:
        - Billing
      operationId: getPlan
      summary: Returns the plan for the current user
      responses:
        "200":
          $ref: "#/components/responses/BillingPlanWithUsageResponse"
        "400":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
  /billing/limits:
    get:
      x-internal: true
      security:
        - BearerAuth: []
      tags:
        - Billing
      operationId: getLimits
      summary: Returns the limits for the current user
      responses:
        "200":
          $ref: "#/components/responses/BillingLimitsResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /billing/subscriptions:
    get:
      x-internal: true
      security:
        - BearerAuth: []
      tags:
        - Billing
      operationId: getSubscriptions
      summary: Returns the subscriptions for the current user
      responses:
        "200":
          $ref: "#/components/responses/BillingSubscriptions"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      x-internal: true
      tags:
        - Billing
      operationId: cancelSubscriptions
      summary: Cancels all the subscriptions for the current user
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /billing/subscription/{subscriptionId}:
    put:
      x-internal: true
      tags:
        - Billing
      operationId: updateSubscription
      summary: Updates the given subscriptions line items
      parameters:
        - in: path
          name: subscriptionId
          required: true
          schema:
            $ref: "#/components/schemas/BillingSubscriptionId"
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionUpdates"
      responses:
        "200":
          $ref: "#/components/responses/BillingSubscription"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      x-internal: true
      tags:
        - Billing
      operationId: cancelSubscription
      summary: Cancels the given subscription
      parameters:
        - in: path
          name: subscriptionId
          required: true
          schema:
            $ref: "#/components/schemas/BillingSubscriptionId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /commits:
    post:
      tags:
        - Commits
      operationId: createCommitId
      summary: Create a commit id
      description: Creates a new commit id that can be used to group record updates
      security:
        - BearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CommitsPostRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/Version"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /commits/{commitId}:
    get:
      tags:
        - Commits
      operationId: getCommit
      summary: Returns the details of a commit version
      parameters:
        - in: path
          name: commitId
          required: true
          schema:
            $ref: "#/components/schemas/CommitId"
      responses:
        "200":
          $ref: "#/components/responses/GetCommitResponse"
  /commits/{commitId}/complete:
    post:
      tags:
        - Commits
      security:
        - BearerAuth: []
      operationId: completeCommit
      summary: Complete a commit version
      description: Completes a commit version. This marks the commit as complete and acknowledges that the changes have been applied to the sheet.
      parameters:
        - in: path
          name: commitId
          schema:
            $ref: "#/components/schemas/CommitId"
          required: true
          description: ID of the commit version to complete
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /commits/{commitId}/replay:
    post:
      tags:
        - Commits
      security:
        - BearerAuth: []
      operationId: replayCommit
      summary: Replay a commit:created event
      description: Replays a commit:created event.
      parameters:
        - in: path
          name: commitId
          schema:
            $ref: "#/components/schemas/CommitId"
          required: true
          description: ID of the commit version to re-emit the commit:created event for
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /users:
    get:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: getUsers
      summary: List users
      description: Gets a list of users
      parameters:
        - name: email
          in: query
          description: Email of guest to return
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Users"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      x-internal: true
      operationId: createUser
      summary: Create a user
      description: Creates a user
      requestBody:
        $ref: "#/components/requestBodies/User"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/users/{userId}":
    get:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: getUser
      summary: Get a user
      description: Gets a user
      parameters:
        - in: path
          name: userId
          schema:
            $ref: "#/components/schemas/UserId"
          required: true
          description: The user id
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/users/{userId}/api-token":
    post:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: createApiToken
      summary: Create an API token
      description: Creates an api token for authenticating against Flatfile APIs
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            $ref: "#/components/schemas/UserId"
        - in: query
          name: tenantId
          required: true
          schema:
            type: string
      responses:
        "201":
          $ref: "#/components/responses/ApiToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      summary: List all tokens
      description: Gets all the api tokens for a user
      operationId: getApiTokens
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            $ref: "#/components/schemas/UserId"
        - in: query
          name: tenantId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of tokens to return in a page (default 10)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of records to return"
      responses:
        "200":
          $ref: "#/components/responses/ApiTokens"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /frontegg/sign-up:
    post:
      tags:
        - Frontegg
        - Internal
      operationId: handleUserSignUp
      summary: Handle user sign up webhooks
      description: Receives data when a user is signed up with Frontegg
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FronteggSignup"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
      x-internal: true
  /frontegg/invite:
    post:
      tags:
        - Frontegg
        - Internal
      operationId: handleUserInvite
      summary: Handle user invite webhooks
      description: Receives data when a user is invited with Frontegg
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FronteggSignup"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
      x-internal: true
  /frontegg/accept-invite:
    post:
      tags:
        - Frontegg
        - Internal
      operationId: handleAcceptInvite
      summary: Handle accept invite webhooks
      description: Receives data when a user accepted the invite with Frontegg
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FronteggSignup"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
      x-internal: true
  /health:
    get:
      tags:
        - Internal
      operationId: getHealthCheck
      summary: Health check
      responses:
        "200":
          $ref: "#/components/responses/Health"
      x-internal: true
  /version:
    get:
      tags:
        - Internal
      operationId: getApiVersionDetails
      summary: Version details for the API
      responses:
        "200":
          $ref: "#/components/responses/AppVersion"
      x-internal: true
  /data-retention-policies:
    get:
      tags:
        - Data Retention Policies
      operationId: getDataRetentionPoliciesByAccount
      summary: Get data retention policy by account or filter by environment id
      description: Get a data retention policy by account or filter by environment id
      security:
        - BearerAuth: []
      parameters:
        - name: environmentId
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/DataRetentionPolicyResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Data Retention Policies
      security:
        - BearerAuth: []
      operationId: createDataRetentionPolicy
      summary: Create a data retention policy
      description: Create a data retention policy on an environment
      requestBody:
        $ref: "#/components/requestBodies/DataRetentionPolicy"
      responses:
        "200":
          $ref: "#/components/responses/DataRetentionPolicyResponse"
        "400":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/data-retention-policies/{id}":
    get:
      tags:
        - Data Retention Policies
      security:
        - BearerAuth: []
      operationId: getDataRetentionPolicy
      summary: Get a data retention policy
      description: Get a data retention policy on an environment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/DataRetentionPolicyId"
      responses:
        "200":
          $ref: "#/components/responses/DataRetentionPolicyResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Data Retention Policies
      operationId: updateDataRetentionPolicy
      summary: Update a Data Retention Policy
      description: "Update a Data Retention Policy, to change the type for example"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID of Data Retention Policy to update
          required: true
          schema:
            $ref: "#/components/schemas/DataRetentionPolicyId"
      requestBody:
        $ref: "#/components/requestBodies/DataRetentionPolicyUpdate"
      responses:
        "200":
          $ref: "#/components/responses/DataRetentionPolicyResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Data Retention Policies
      operationId: deleteDataRetentionPolicy
      summary: Deletes the given data retention policy
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/DataRetentionPolicyId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /files:
    get:
      tags:
        - Files
      security:
        - BearerAuth: []
      operationId: getFiles
      summary: List files
      parameters:
        - in: query
          name: spaceId
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of files to return in a page (default 20)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of files to return"
        - in: query
          name: mode
          description: The storage mode of file to fetch, defaults to "import"
          schema:
            $ref: "#/components/schemas/FileMode"
      responses:
        "200":
          $ref: "#/components/responses/Files"
    post:
      tags:
        - Files
      security:
        - BearerAuth: []
      operationId: createFile
      summary: Upload a file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                spaceId:
                  $ref: "#/components/schemas/SpaceId"
                environmentId:
                  $ref: "#/components/schemas/EnvironmentId"
                mode:
                  $ref: "#/components/schemas/FileMode"
                file:
                  type: string
                  format: binary
                  description: A binary payload containing the file contents
                actions:
                  type: array
                  items:
                    $ref: "#/components/schemas/Action"
        description: Request body object used to create a file
        required: true
      responses:
        "200":
          $ref: "#/components/responses/File"
        "400":
          $ref: "#/components/responses/Error"
  "/files/{fileId}":
    get:
      tags:
        - Files
      security:
        - BearerAuth: []
      operationId: getFile
      summary: Get a file
      parameters:
        - in: path
          name: fileId
          required: true
          schema:
            $ref: "#/components/schemas/FileId"
      responses:
        "200":
          $ref: "#/components/responses/File"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Files
      operationId: updateFileById
      summary: Update a File
      description: "Update a file, to change the workbook id for example"
      security:
        - BearerAuth: []
      parameters:
        - name: fileId
          in: path
          description: ID of file to update
          required: true
          schema:
            $ref: "#/components/schemas/FileId"
      requestBody:
        $ref: "#/components/requestBodies/File"
      responses:
        "200":
          $ref: "#/components/responses/File"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Files
      security:
        - BearerAuth: []
      operationId: deleteFile
      summary: Delete a file
      parameters:
        - in: path
          name: fileId
          required: true
          schema:
            $ref: "#/components/schemas/FileId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/files/{fileId}/download":
    get:
      tags:
        - Files
      security:
        - BearerAuth: []
      operationId: downloadFile
      summary: Download a file
      parameters:
        - in: path
          name: fileId
          required: true
          schema:
            $ref: "#/components/schemas/FileId"
      responses:
        "200":
          $ref: "#/components/responses/DownloadFile"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /environments:
    get:
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getEnvironments
      summary: List environments
      description: Get all environments
      parameters:
        - in: query
          name: "pageSize"
          schema:
            type: integer
          description: Number of environments to return in a page (default 10)
        - in: query
          name: "pageNumber"
          schema:
            type: integer
          description: Based on pageSize, which page of environments to return
      responses:
        "200":
          $ref: "#/components/responses/Environments"
    post:
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: createEnvironment
      summary: Create an environment
      description: Create a new environment
      requestBody:
        $ref: "#/components/requestBodies/EnvironmentCreate"
      responses:
        "200":
          $ref: "#/components/responses/Environment"
        "400":
          $ref: "#/components/responses/Error"
  "/environments/{environmentId}":
    get:
      tags:
        - Environments
      operationId: getEnvironmentById
      summary: Get an environment
      description: Returns a single environment
      security:
        - BearerAuth: []
      parameters:
        - name: environmentId
          in: path
          description: ID of the environment to return. To fetch the current environment, pass `current`
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/Environment"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Environments
      operationId: updateEnvironmentById
      summary: Update an environment
      description: "Updates a single environment, to change the name for example"
      security:
        - BearerAuth: []
      parameters:
        - name: environmentId
          in: path
          description: ID of the environment to update
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      requestBody:
        $ref: "#/components/requestBodies/EnvironmentUpdate"
      responses:
        "200":
          $ref: "#/components/responses/Environment"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Environments
      operationId: deleteEnvironmentById
      summary: Delete an environment
      description: "Deletes a single environment"
      security:
        - BearerAuth: []
      parameters:
        - name: environmentId
          in: path
          description: ID of the environment to update
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/environments/{environmentId}/agents":
    get:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getAgentsDeprecated
      summary: List agents
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/Agents"
    post:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: createAgentDeprecated
      summary: Create an agent
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      requestBody:
        $ref: "#/components/requestBodies/Agent"
      responses:
        "200":
          $ref: "#/components/responses/Agent"
        "400":
          $ref: "#/components/responses/Error"
  "/environments/{environmentId}/agents/{agentId}":
    get:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getAgentDeprecated
      summary: Get an agent
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: path
          name: agentId
          required: true
          schema:
            $ref: "#/components/schemas/AgentId"
      responses:
        "200":
          $ref: "#/components/responses/Agent"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/environments/{environmentId}/agents/{agentId}/logs":
    get:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getAgentLogsDeprecated
      summary: Get logs for an agent
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: path
          name: agentId
          required: true
          schema:
            $ref: "#/components/schemas/AgentId"
      responses:
        "200":
          $ref: "#/components/responses/AgentLogs"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/environments/{environmentId}/events":
    get:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getEventsDeprecated
      summary: List events
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: spaceId
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: domain
          schema:
            type: string
          description: Filter by event domain
        - in: query
          name: topic
          schema:
            type: string
          description: Filter by event topic
        - in: query
          name: since
          schema:
            type: string
            format: date-time
          description: Filter by event timestamp
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of results to return in a page (default 10)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of results to return"
        - in: query
          name: includeAcknowledged
          schema:
            type: boolean
            default: false
          description: Include acknowledged events
      responses:
        "200":
          $ref: "#/components/responses/Events"
    post:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: createEventDeprecated
      summary: Create an event
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      requestBody:
        $ref: "#/components/requestBodies/Event"
      responses:
        "201":
          $ref: "#/components/responses/Event"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/environments/{environmentId}/events/{eventId}":
    get:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getEventDeprecated
      summary: Get an event
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: path
          name: eventId
          schema:
            $ref: "#/components/schemas/EventId"
          required: true
          description: The event id
      responses:
        "200":
          $ref: "#/components/responses/Event"
  "/environments/{environmentId}/events/{eventId}/ack":
    post:
      deprecated: true
      x-internal: true
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: ackEventDeprecated
      summary: Acknowledge an event
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: path
          name: eventId
          schema:
            $ref: "#/components/schemas/EventId"
          required: true
          description: The event id
      responses:
        "200":
          $ref: "#/components/responses/Success"
  "/environments/subscription-token":
    get:
      tags:
        - Environments
      security:
        - BearerAuth: []
      operationId: getEnvironmentEventToken
      summary: Get environment subscription credentials
      description: Get a token which can be used to subscribe to events for this environment
      parameters:
        - name: environmentId
          in: query
          description: ID of environment to return
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/EventToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /agents:
    get:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: getAgents
      summary: Get all agents
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/Agents"
    post:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: createAgent
      summary: Create an agent
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      requestBody:
        $ref: "#/components/requestBodies/Agent"
      responses:
        "200":
          $ref: "#/components/responses/Agent"
        "400":
          $ref: "#/components/responses/Error"

  "/agents/logs":
    get:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: getEnvironmentAgentLogs
      summary: Get all agent logs in your environment
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: spaceId
          required: false
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: success
          required: false
          schema:
            type: boolean
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of logs to return in a page (default 20)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of records to return"
      responses:
        "200":
          $ref: "#/components/responses/DetailedAgentLogs"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/agents/executions":
    get:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: getEnvironmentAgentExecutions
      summary: Get all executions in your environment
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: spaceId
          required: false
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: success
          required: false
          schema:
            type: boolean
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of logs to return in a page (default 20)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of records to return"
      responses:
        "200":
          $ref: "#/components/responses/Executions"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/agents/log/{eventId}":
    get:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: getEnvironmentAgentLog
      summary: Get an agent log
      parameters:
        - in: path
          name: eventId
          required: true
          schema:
            $ref: "#/components/schemas/EventId"
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/DetailedAgentLog"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/agents/stats":
    get:
      tags:
        - Internal
      security:
        - BearerAuth: []
      operationId: getEnvironmentStats
      summary: Get environment stats
      description: Returns environment stats
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - name: start
          in: query
          description: "Start time for stats, defaults to 7 days ago"
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-12-01T07:00:00.000Z"
        - name: end
          in: query
          description: "End time for stats, defaults to now"
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-12-01T07:00:00.000Z"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentStats"
        "403":
          $ref: "#/components/responses/Error"
      x-internal: true
  "/agents/{agentId}":
    get:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: getAgent
      summary: Get an agent
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: path
          name: agentId
          required: true
          schema:
            $ref: "#/components/schemas/AgentId"
      responses:
        "200":
          $ref: "#/components/responses/Agent"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Agents
      operationId: deleteAgent
      summary: Delete an agent
      description: "Deletes a single agent"
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - name: agentId
          in: path
          description: ID of the agent to delete
          required: true
          schema:
            $ref: "#/components/schemas/AgentId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/agents/{agentId}/logs":
    get:
      tags:
        - Agents
      security:
        - BearerAuth: []
      operationId: getAgentLogs
      summary: Get agent logs
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: environmentId
          required: true
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of results to return in a page (default 20)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of results to return"
      responses:
        "200":
          $ref: "#/components/responses/AgentLogs"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /events:
    get:
      tags:
        - Events
      security:
        - BearerAuth: []
      operationId: getEvents
      summary: Get all events
      parameters:
        - in: query
          name: environmentId
          description: Filter by environment
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: spaceId
          description: Filter by space
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: domain
          description: Filter by event domain
          schema:
            type: string
        - in: query
          name: topic
          description: Filter by event topic
          schema:
            type: string
        - in: query
          name: since
          description: Filter by event timestamp
          schema:
            type: string
            format: date-time
        - in: query
          name: pageSize
          description: Number of results to return in a page (default 10)
          schema:
            type: integer
        - in: query
          name: pageNumber
          description: "Based on pageSize, which page of results to return"
          schema:
            type: integer
        - in: query
          name: includeAcknowledged
          description: Include acknowledged events
          schema:
            type: boolean
            default: false
      responses:
        "200":
          $ref: "#/components/responses/Events"
    post:
      tags:
        - Events
      security:
        - BearerAuth: []
      operationId: createEvent
      summary: Create an event
      requestBody:
        $ref: "#/components/requestBodies/Event"
      responses:
        "201":
          $ref: "#/components/responses/Event"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/events/{eventId}":
    get:
      tags:
        - Events
      security:
        - BearerAuth: []
      operationId: getEvent
      summary: Get an event
      parameters:
        - in: path
          name: eventId
          schema:
            $ref: "#/components/schemas/EventId"
          required: true
          description: The event id
      responses:
        "200":
          $ref: "#/components/responses/Event"
  "/events/{eventId}/ack":
    post:
      tags:
        - Events
      security:
        - BearerAuth: []
      operationId: ackEvent
      summary: Acknowledge an event
      parameters:
        - in: path
          name: eventId
          schema:
            $ref: "#/components/schemas/EventId"
          required: true
          description: The event id
      responses:
        "200":
          $ref: "#/components/responses/Success"
  /mapping:
    post:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: createMapping
      summary: Create a mapping plan from two blueprints
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - source
                - destination
              properties:
                source:
                  $ref: "#/components/schemas/SheetConfig"
                destination:
                  $ref: "#/components/schemas/SheetConfig"
      responses:
        "200":
          $ref: "#/components/responses/ProgramResponse"
        "400":
          $ref: "#/components/responses/Error"
    get:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: listMappingPrograms
      summary: Fetch a list of mapping programs
      parameters:
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of programs to return in a page (default 20)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of programs to return"
        - in: query
          name: createdBy
          schema:
            type: string
            description: Filter by user who created the program
        - in: query
          name: createdAfter
          schema:
            type: string
            format: date-time
            description: Filter by programs created after this date
        - in: query
          name: createdBefore
          schema:
            type: string
            format: date-time
            description: Filter by programs created before this date
        - in: query
          name: environmentId
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: sourceKeys
          schema:
            type: string
        - in: query
          name: destinationKeys
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ProgramsResponse"
        "400":
          $ref: "#/components/responses/Error"

  /mapping/{programId}/rules:
    get:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: getRules
      parameters:
        - in: path
          name: programId
          schema:
            $ref: "#/components/schemas/ProgramId"
          required: true
          description: The mapping program id
      responses:
        "200":
          $ref: "#/components/responses/RulesResponse"
        "400":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: createRule
      parameters:
        - in: path
          name: programId
          schema:
            $ref: "#/components/schemas/ProgramId"
          required: true
          description: The mapping program id
      requestBody:
        $ref: "#/components/requestBodies/RulesRequest"
      responses:
        "200":
          $ref: "#/components/responses/RulesResponse"
        "400":
          $ref: "#/components/responses/Error"
  /mapping/{programId}/rules/{id}:
    delete:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: deleteRule
      parameters:
        - in: path
          name: programId
          schema:
            $ref: "#/components/schemas/ProgramId"
          required: true
          description: The mapping program id
        - name: id
          in: path
          description: ID of rule to delete
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: updateRule
      parameters:
        - in: path
          name: programId
          schema:
            $ref: "#/components/schemas/ProgramId"
          required: true
          description: The mapping program id
        - name: id
          in: path
          description: ID of rule to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MappingRuleConfig"
      responses:
        "200":
          $ref: "#/components/responses/RuleResponse"
        "400":
          $ref: "#/components/responses/Error"
  /mapping/field-weights:
    post:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: getFieldWeights
      requestBody:
        $ref: "#/components/requestBodies/GetFieldWeightsRequest"
      responses:
        "200":
          $ref: "#/components/responses/SourceDestinationWeightsResponse"
        "400":
          $ref: "#/components/responses/Error"
  /mapping/enum-weights:
    post:
      tags:
        - Mapping
        - Internal
      x-internal: true
      operationId: getEnumWeights
      requestBody:
        $ref: "#/components/requestBodies/GetEnumWeightsRequest"
      responses:
        "200":
          $ref: "#/components/responses/SourceDestinationWeightsResponse"
        "400":
          $ref: "#/components/responses/Error"

  /jobs:
    get:
      tags:
        - Jobs
      security:
        - BearerAuth: []
      operationId: getJobs
      summary: List jobs
      parameters:
        - in: query
          name: environmentId
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: spaceId
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: workbookId
          schema:
            $ref: "#/components/schemas/WorkbookId"
        - in: query
          name: fileId
          schema:
            $ref: "#/components/schemas/FileId"
        - in: query
          name: parentId
          schema:
            $ref: "#/components/schemas/JobId"
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of jobs to return in a page (default 20)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of jobs to return"
        - in: query
          name: sortDirection
          schema:
            $ref: "#/components/schemas/SortDirection"
      responses:
        "200":
          $ref: "#/components/responses/Jobs"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Jobs
      security:
        - BearerAuth: []
      operationId: createJob
      summary: Create a job
      requestBody:
        $ref: "#/components/requestBodies/Job"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}":
    get:
      tags:
        - Jobs
      security:
        - BearerAuth: []
      operationId: getJob
      summary: Get a job
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Jobs
      security:
        - BearerAuth: []
      operationId: updateJob
      summary: Update a job
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/JobUpdate"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Jobs
      security:
        - BearerAuth: []
      operationId: deleteJob
      summary: Delete a job
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/plan":
    get:
      tags:
        - Jobs
      operationId: getJobExecutionPlan
      summary: Get a job's execution plan
      description: Returns a single job's execution plan
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      responses:
        "200":
          $ref: "#/components/responses/JobPlan"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Jobs
      operationId: updateJobExecutionPlanFields
      summary: Update a job's plan
      description: Update a one or more individual fields on a job's execution plan
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/PlanConfig"
      responses:
        "202":
          $ref: "#/components/responses/JobPlan"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    put:
      tags:
        - Jobs
      operationId: updateJobExecutionPlanById
      summary: Replace a job's plan
      description: Update a job's entire execution plan
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/Plan"
      responses:
        "202":
          $ref: "#/components/responses/JobPlan"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/execute":
    post:
      tags:
        - Jobs
      operationId: executeJob
      summary: Execute a job
      description: Execute a job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/ack":
    post:
      tags:
        - Jobs
      operationId: ackJob
      summary: Acknowledge a job
      description: Acknowledge a job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/JobAckDetails"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/split":
    post:
      tags:
        - Jobs
      operationId: splitJob
      summary: Split a job
      description: Split a job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/JobSplitDetails"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/outcome/ack":
    post:
      tags:
        - Jobs
      operationId: acknowledgeJobOutcome
      summary: Acknowledges a job outcome
      description: Acknowledge a job outcome and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/complete":
    post:
      tags:
        - Jobs
      operationId: completeJob
      summary: Complete a job
      description: Complete a job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/JobCompleteDetails"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/fail":
    post:
      tags:
        - Jobs
      operationId: failJob
      summary: Fail a job
      description: Fail a job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/JobCompleteDetails"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/cancel":
    post:
      tags:
        - Jobs
      operationId: cancelJob
      summary: Cancel a job
      description: Cancel a job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      requestBody:
        $ref: "#/components/requestBodies/JobCancelDetails"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/jobs/{jobId}/retry":
    post:
      tags:
        - Jobs
      operationId: retryJob
      summary: Retry a job
      description: Retry a failed job and return the job
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
      responses:
        "200":
          $ref: "#/components/responses/Job"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /jobs/preview-mutation:
    post:
      tags:
        - Internal
      x-internal: true
      security:
        - BearerAuth: []
      operationId: previewMutation
      summary: Preview a mutation
      description: Preview a mutation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MutateJobConfig"
      responses:
        "200":
          $ref: "#/components/responses/DiffRecordsResponse"
        "400":
          $ref: "#/components/responses/Error"
  /jobs/stats:
    get:
      tags:
        - Internal
      security:
        - BearerAuth: []
      operationId: getJobsStats
      summary: Get job stats
      description: Returns job stats
      parameters:
        - name: start
          in: query
          description: "Start time for stats, defaults to 7 days ago"
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-12-01T07:00:00.000Z"
        - name: end
          in: query
          description: "End time for stats, defaults to now"
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-12-01T07:00:00.000Z"
      responses:
        "200":
          $ref: "#/components/responses/JobStats"
        "403":
          $ref: "#/components/responses/Error"
      x-internal: true
  /jobs/report:
    get:
      tags:
        - Internal
      security:
        - BearerAuth: []
      operationId: getJobPerformanceReport
      summary: Get job performance report
      description: Returns job performance report as a CSV
      responses:
        "200":
          description: Job performance report
          content:
            text/csv:
              schema:
                type: string
        "403":
          $ref: "#/components/responses/Error"
      x-internal: true
  /spaces/configs:
    get:
      deprecated: true
      x-internal: true
      tags:
        - Space Configs
      operationId: getAllSpaceConfigsDeprecated
      summary: List space configs
      description: Returns all space configs for an account
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: environmentId
          schema:
            $ref: "#/components/schemas/EnvironmentId"
      responses:
        "200":
          $ref: "#/components/responses/SpacePatterns"
        "400":
          $ref: "#/components/responses/Error"
    post:
      deprecated: true
      x-internal: true
      tags:
        - Space Configs
      operationId: addSpaceConfigDeprecated
      summary: Create a space config
      description: Creates a new Space Config
      security:
        - BearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SpacePattern"
      responses:
        "201":
          $ref: "#/components/responses/SpacePattern"
        "400":
          $ref: "#/components/responses/Error"
    put:
      deprecated: true
      x-internal: true
      tags:
        - Space Configs
      operationId: replaceSpaceConfigDeprecated
      summary: Replace a space config
      description: Replaces an existing Space Config and optionally migrates all spaces using the config
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: migrate
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/SpacePattern"
      responses:
        "201":
          $ref: "#/components/responses/SpacePattern"
        "400":
          $ref: "#/components/responses/Error"
  /space-configs:
    get:
      deprecated: true
      x-internal: true
      tags:
        - Space Configs
      operationId: getAllSpaceConfigs
      summary: Get all space configs
      description: Returns all space configs for an account
      security:
        - BearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SpacePatterns"
        "400":
          $ref: "#/components/responses/Error"
    post:
      deprecated: true
      x-internal: true
      tags:
        - Space Configs
      operationId: addSpaceConfig
      summary: Create a space config
      description: Creates a new Space Config
      security:
        - BearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SpacePattern"
      responses:
        "201":
          $ref: "#/components/responses/SpacePattern"
        "400":
          $ref: "#/components/responses/Error"
    put:
      deprecated: true
      x-internal: true
      tags:
        - Space Configs
      operationId: updateSpaceConfig
      summary: Update a space config
      description: Updates an existing Space Config and optionally migrates all spaces using the config
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: migrate
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/SpacePattern"
      responses:
        "201":
          $ref: "#/components/responses/SpacePattern"
        "400":
          $ref: "#/components/responses/Error"
  /spaces:
    get:
      tags:
        - Spaces
      operationId: getAllSpaces
      summary: Get all spaces
      description: Returns all spaces for an account or environment
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: environmentId
          schema:
            $ref: "#/components/schemas/EnvironmentId"
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of spaces to return in a page (default 10)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of records to return"
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: sortField
          schema:
            $ref: "#/components/schemas/GetSpacesSortField"
        - in: query
          name: sortDirection
          schema:
            $ref: "#/components/schemas/SortDirection"
        - in: query
          name: archived
          schema:
            type: boolean
        - in: query
          name: isCollaborative
          schema:
            type: boolean
      responses:
        "200":
          $ref: "#/components/responses/Spaces"
        "400":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Spaces
      operationId: addSpace
      summary: Create a space
      description: Creates a new space based on an existing Space Config
      security:
        - BearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/Space"
      responses:
        "200":
          $ref: "#/components/responses/Space"
        "400":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Spaces
      operationId: deleteSpacesById
      summary: Delete Spaces
      description: Delete multiple Spaces from an Environment
      security:
        - BearerAuth: []
      parameters:
        - name: spaceIds
          in: query
          description: The ids of the Spaces to be deleted
          schema:
            type: array
            items:
              $ref: "#/components/schemas/SpaceId"
            maxItems: 20
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
  "/spaces/{spaceId}":
    get:
      tags:
        - Spaces
      operationId: getSpaceById
      summary: Get a space
      description: Returns a single space
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/Space"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Spaces
      operationId: updateSpaceById
      summary: Update a space
      description: "Update a space, to change the name for example"
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space to update
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      requestBody:
        $ref: "#/components/requestBodies/Space"
      responses:
        "200":
          $ref: "#/components/responses/Space"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Spaces
      operationId: deleteSpaceById
      summary: Delete a space
      description: Delete a space
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space to delete
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/spaces/{spaceId}/expire":
    post:
      x-internal: true
      tags:
        - Spaces
        - Internal
      operationId: expireSpaceById
      summary: Expire a Space, its Workbooks and Files
      description: Expire a space
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space to expire
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  "/spaces/{spaceId}/upgrade":
    post:
      tags:
        - Spaces
      x-internal: true
      operationId: upgradeSpaceById
      summary: Upgrade a space
      description: Upgrade a space
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space to upgrade
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      requestBody:
        $ref: "#/components/requestBodies/SpaceUpgrade"
      responses:
        "200":
          $ref: "#/components/responses/Space"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  "/spaces/{spaceId}/activity":
    get:
      security:
        - BearerAuth: []
      operationId: getSpaceActivity
      summary: Get the activity for a Space
      description: Returns a list of activities that have occurred in a space and who initiated those activities
      parameters:
        - name: spaceId
          in: path
          description: ID of space
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: sortField
          schema:
            $ref: "#/components/schemas/GetSpaceActivitySortField"
        - in: query
          name: sortDirection
          schema:
            $ref: "#/components/schemas/SortDirection"
        - name: pageSize
          in: query
          schema:
            type: integer
          description: Number of audit activites to return in a page (default 20)
        - name: pageNumber
          in: query
          schema:
            type: integer
          description: "Based on pageSize, which page of files to return"
        - name: activity
          in: query
          schema:
            $ref: "#/components/schemas/AuditActivity"
          allowReserved: true
          description: Filter by activity
        - name: since
          in: query
          schema:
            # The since value should be in the format of a date-time, but we
            # validate this query param in the controller to allow more
            # flexibility in the exact format.
            type: string
          allowReserved: true
          description: Filter by activity timestamp
      responses:
        "200":
          $ref: "#/components/responses/Activities"

  "/spaces/{spaceId}/auth":
    get:
      x-internal: true
      tags:
        - Internal
      security:
        - BearerAuth: []
      operationId: getSpaceAuth
      summary: Generates a new access token scoped to only this space
      description: Returns an access token for this space
      parameters:
        - name: spaceId
          in: path
          description: ID of the space
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/AccessToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/spaces/{spaceId}/documents":
    get:
      tags:
        - Spaces
      security:
        - BearerAuth: []
      operationId: getSpaceDocuments
      summary: List documents
      description: Returns all documents for a space
      parameters:
        - name: spaceId
          in: path
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/Documents"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Spaces
        - Documents
      operationId: addDocumentToSpace
      summary: Create a document
      description: Add a new document to the space
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space to add the document on
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      requestBody:
        $ref: "#/components/requestBodies/Document"
      responses:
        "200":
          $ref: "#/components/responses/Document"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/spaces/{spaceId}/documents/{documentId}":
    get:
      tags:
        - Spaces
      security:
        - BearerAuth: []
      operationId: getSpaceDocumentById
      summary: Get a document
      description: Returns a single document
      parameters:
        - name: spaceId
          in: path
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
        - name: documentId
          in: path
          description: ID of document to return
          required: true
          schema:
            $ref: "#/components/schemas/DocumentId"
      responses:
        "200":
          $ref: "#/components/responses/Document"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Spaces
      security:
        - BearerAuth: []
      operationId: updateSpaceDocument
      summary: Update a document
      description: "updates a single document, for only the body and title"
      parameters:
        - name: spaceId
          in: path
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
        - name: documentId
          in: path
          description: ID of document to return
          required: true
          schema:
            $ref: "#/components/schemas/DocumentId"
      requestBody:
        $ref: "#/components/requestBodies/Document"
      responses:
        "200":
          $ref: "#/components/responses/Document"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Spaces
      operationId: deleteSpaceDocument
      summary: Delete a document
      description: "Deletes a single document"
      security:
        - BearerAuth: []
      parameters:
        - name: spaceId
          in: path
          description: ID of space for document
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
        - name: documentId
          in: path
          description: ID of document to delete
          required: true
          schema:
            $ref: "#/components/schemas/DocumentId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/documents/{documentId}":
    get:
      tags:
        - Documents
      security:
        - BearerAuth: []
      operationId: getDocumentById
      summary: Get a document
      description: Returns a single document
      parameters:
        - name: documentId
          in: path
          description: ID of document to return
          required: true
          schema:
            $ref: "#/components/schemas/DocumentId"
      responses:
        "200":
          $ref: "#/components/responses/Document"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Documents
      security:
        - BearerAuth: []
      operationId: updateDocument
      summary: Update a document
      description: "updates a single document, for only the body and title"
      parameters:
        - name: documentId
          in: path
          description: ID of document to return
          required: true
          schema:
            $ref: "#/components/schemas/DocumentId"
      requestBody:
        $ref: "#/components/requestBodies/Document"
      responses:
        "200":
          $ref: "#/components/responses/Document"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Documents
      operationId: deleteDocument
      summary: Delete a document
      description: "Deletes a single document"
      security:
        - BearerAuth: []
      parameters:
        - name: documentId
          in: path
          description: ID of document to delete
          required: true
          schema:
            $ref: "#/components/schemas/DocumentId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /spaces/{spaceId}/createLink:
    post:
      x-internal: true
      tags:
        - Connections
      security:
        - BearerAuth: []
      operationId: createConnectionLink
      summary: Creates a Merge Link
      parameters:
        - name: spaceId
          in: path
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      requestBody:
        $ref: "#/components/requestBodies/CreateConnectionLinkRequest"
      responses:
        "201":
          $ref: "#/components/responses/CreateConnectionLinkResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /guests:
    get:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: getGuests
      summary: List guests
      description: Returns all guests
      parameters:
        - name: spaceId
          in: query
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
        - name: email
          in: query
          description: Email of guest to return
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Guests"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Users & Guests
      operationId: addGuestToSpace
      summary: Create a guest
      description: Add a new guest to the space
      security:
        - BearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/Guests"
      responses:
        "200":
          $ref: "#/components/responses/Guests"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/guests/{guestId}":
    get:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: getSpaceGuestById
      summary: Get a guest
      description: Returns a single guest
      parameters:
        - name: guestId
          in: path
          description: ID of guest to return
          required: true
          schema:
            $ref: "#/components/schemas/GuestId"
      responses:
        "200":
          $ref: "#/components/responses/Guest"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

    patch:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: updateGuest
      summary: Update a guest
      description: "Updates a single guest, for example to change name or email"
      parameters:
        - name: guestId
          in: path
          description: ID of guest to return
          required: true
          schema:
            $ref: "#/components/schemas/GuestId"
      requestBody:
        $ref: "#/components/requestBodies/GuestUpdate"
      responses:
        "200":
          $ref: "#/components/responses/Guest"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: deleteGuest
      summary: Delete a guest
      description: Deletes a single guest
      parameters:
        - name: guestId
          in: path
          description: ID of guest to return
          required: true
          schema:
            $ref: "#/components/schemas/GuestId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/guests/{guestId}/token":
    get:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: getGuestToken
      summary: Get a guest token
      description: Returns a single guest token
      parameters:
        - name: guestId
          in: path
          description: ID of guest to return
          required: true
          schema:
            $ref: "#/components/schemas/GuestId"
        - name: spaceId
          in: query
          description: ID of space for which the token belongs. The guest must already be allowed to access the given space.
          required: false
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/Exchange"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /invitations:
    post:
      tags:
        - Users & Guests
      security:
        - BearerAuth: []
      operationId: inviteGuests
      summary: Invite guests
      description: Sends an invite each guest
      requestBody:
        $ref: "#/components/requestBodies/Invite"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /invitations/exchange:
    post:
      tags:
        - Users & Guests
      operationId: exchangeInvitation
      summary: Exchange an invitation for an access token
      description: Exchange an invitation for an access token
      requestBody:
        $ref: "#/components/requestBodies/Exchange"
      responses:
        "200":
          $ref: "#/components/responses/Exchange"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/spaces/{spaceId}/subscription":
    get:
      tags:
        - Spaces
      deprecated: true
      x-internal: true
      security:
        - BearerAuth: []
      operationId: getEventTokenDeprecated
      summary: Get subscription credentials
      description: Get a token which can be used to subscribe to events for this space
      parameters:
        - name: spaceId
          in: path
          description: ID of space to return
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/EventToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/spaces/{spaceId}/archive":
    post:
      tags:
        - Spaces
      security:
        - BearerAuth: []
      operationId: archiveSpace
      summary: Archives a space
      parameters:
        - name: spaceId
          in: path
          description: ID of space to archive
          required: true
          schema:
            $ref: "#/components/schemas/SpaceId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/subscription":
    get:
      tags:
        - Events
      security:
        - BearerAuth: []
      operationId: getEventToken
      summary: Get subscription credentials
      description: Get a token which can be used to subscribe to events for this space
      parameters:
        - name: spaceId
          deprecated: true
          in: query
          description: ID of space to return
          schema:
            $ref: "#/components/schemas/SpaceId"
        - name: scope
          in: query
          description: ID of resource to get an event stream for, currently environment and space ids are allow
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/EventToken"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /workbooks:
    get:
      tags:
        - Workbooks
      operationId: getAllWorkbooks
      summary: List workbooks
      description: Returns all workbooks matching a filter for an account or space
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: spaceId
          schema:
            $ref: "#/components/schemas/SpaceId"
        - in: query
          name: includeCounts
          schema:
            type: boolean
          description: Include counts for the workbook
      responses:
        "200":
          $ref: "#/components/responses/Workbooks"
        "400":
          $ref: "#/components/responses/Error"
    post:
      tags:
        - Workbooks
      operationId: addWorkbook
      summary: Create a workbook
      description: Creates a workbook and adds it to a space
      security:
        - BearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/WorkbookConfig"
      responses:
        "201":
          $ref: "#/components/responses/Workbook"
        "400":
          $ref: "#/components/responses/Error"
  "/workbooks/{workbookId}":
    get:
      tags:
        - Workbooks
      operationId: getWorkbookById
      summary: Get a workbook
      description: Returns a single workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook to return
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
      responses:
        "200":
          $ref: "#/components/responses/Workbook"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags:
        - Workbooks
      operationId: updateWorkbookById
      summary: Update a workbook
      description: Updates a workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook to update
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
      requestBody:
        $ref: "#/components/requestBodies/WorkbookUpdate"
      responses:
        "200":
          $ref: "#/components/responses/Workbook"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags:
        - Workbooks
      operationId: deleteWorkbookById
      summary: Delete a workbook
      description: Deletes a workbook and all of its record data permanently
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook to delete
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/workbooks/{workbookId}/commits":
    get:
      tags:
        - Workbooks
      operationId: getWorkbookCommits
      description: Returns the sheet commits for an entire workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook to retrieve commits for
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
        - name: completed
          in: query
          schema:
            type: boolean
          description: If true, only return commits that have been completed. If false, only return commits that have not been completed. If not provided, return all commits.
      responses:
        "200":
          $ref: "#/components/responses/GetWorkbookCommitsResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  "/workbooks/{workbookId}/sheets":
    get:
      tags:
        - Workbooks
      deprecated: true
      x-internal: true
      operationId: getSheetsDeprecated
      description: Returns sheets from a workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
      responses:
        "200":
          $ref: "#/components/responses/Sheets"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  "/workbooks/{workbookId}/rebuild":
    post:
      tags:
        - Workbooks
        - Internal
      operationId: rebuildWorkbook
      summary: Rebuild a workbook
      description: Rebuild a workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook to rebuild
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
      x-internal: true
  "/workbooks/{workbookId}/clone":
    post:
      tags:
        - Workbooks
        - Internal
      operationId: cloneWorkbook
      summary: Clone a workbook within a space
      description: Clone a workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook to clone
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
      responses:
        "200":
          $ref: "#/components/responses/Workbook"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
      x-internal: true
  "/workbooks/{workbookId}/sheets/{sheetId}/records":
    get:
      deprecated: true
      x-internal: true
      tags:
        - Workbooks
      operationId: getRecordsDeprecated
      summary: Get records
      description: Returns records from a sheet in a workbook
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
        - name: sheetId
          in: path
          description: ID of sheet
          required: true
          schema:
            $ref: "#/components/schemas/SheetId"
        - in: query
          name: versionId
          deprecated: true
          description: Deprecated, use `commitId` instead.
          schema:
            $ref: "#/components/schemas/VersionId"
        - in: query
          name: commitId
          schema:
            $ref: "#/components/schemas/CommitId"
        - in: query
          name: untilVersionId
          deprecated: true
          description: Deprecated, use `untilCommitId` instead.
          schema:
            $ref: "#/components/schemas/VersionId"
        - in: query
          name: untilCommitId
          schema:
            $ref: "#/components/schemas/CommitId"
        - in: query
          name: sinceVersionId
          deprecated: true
          description: Deprecated, use `sinceCommitId` instead.
          schema:
            $ref: "#/components/schemas/VersionId"
        - in: query
          name: sinceCommitId
          schema:
            $ref: "#/components/schemas/CommitId"
        - in: query
          name: sortField
          schema:
            $ref: "#/components/schemas/SortField"
        - in: query
          name: sortDirection
          schema:
            $ref: "#/components/schemas/SortDirection"
        - in: query
          name: filter
          schema:
            $ref: "#/components/schemas/Filter"
        - in: query
          name: filterField
          schema:
            $ref: "#/components/schemas/FilterField"
        - in: query
          name: searchValue
          schema:
            $ref: "#/components/schemas/SearchValue"
        - in: query
          name: searchField
          schema:
            $ref: "#/components/schemas/SearchField"
        - in: query
          name: pageSize
          schema:
            type: integer
          description: Number of records to return in a page (default 1000 if pageNumber included)
        - in: query
          name: pageNumber
          schema:
            type: integer
          description: "Based on pageSize, which page of records to return"
        - in: query
          name: includeCounts
          schema:
            type: boolean
          description: "Include counts for the total records, valid records, and records with errors. Note that when including counts with getRecords, we return only the length for pagination. If you need detailed error counts, fetch those separately from the counts endpoint."
        - in: query
          name: includeLinks
          description: "If true, linked records will be included in the results. Defaults to false"
          schema:
            type: boolean
        - in: query
          name: includeMessages
          schema:
            type: boolean
          description: "Include error messages, defaults to false"
      responses:
        "200":
          $ref: "#/components/responses/RecordsResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    post:
      deprecated: true
      x-internal: true
      tags:
        - Workbooks
      operationId: addRecordsDeprecated
      summary: Insert records
      description: Adds records to a workbook sheet
      security:
        - BearerAuth: []
      parameters:
        - name: workbookId
          in: path
          description: ID of workbook
          required: true
          schema:
            $ref: "#/components/schemas/WorkbookId"
        - name: sheetId
          in: path
          description: ID of sheet
          required: true
          schema:
            $ref: "#/components/schemas/SheetId"
      requestBody:
        $ref: "#/components/requestBodies/RecordsData"
      responses:
        "201":
          $ref: "#/components/responses/RecordsResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    put:
      deprecated: true
      x-internal: true
      tags:
[...]
