name: Open PR on changelog branch creation

on:
  create:
    branches:
      - changelog/**

jobs:
  open-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Open PR for changelog update"
          branch: ${{ github.ref }}
          base: main
          title: "Changelog update from ${{ github.ref }}"
          body: "This pull request has been automatically created to update the changelog."